*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content
{
   margin-top: 50px;
    height:100%; width: 100%px;
    background-color: #f3eaea;
    border: 0;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 20px;
    background-position: center;
    background-size: cover;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.head
{
    height: 35%; background-color:rgb(7, 124, 187); border-radius: 10px;
}

  
 
  

  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

.row{
    display: flex;
    height: 90%;
    align-items: center;
}
.col{
   
    width: 50%;
}

h1{
    color: white;
    font-size: 40px; 
}

p{
    font-size: 15px;
    line-height: 20px;
}

button{
    width: 180px;
    color: #000000;
    font-size: 15px;
    padding: 15px 0;
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
    align-items: center;
}

button:hover{
    background-color: yellow;
}

.image
{
    padding-left: 50px; padding-top:80px;
}

#about
{
    color: black;font-size: medium;
}
