<!doctype html>
<html>
<!---->

<head>
	<link rel="stylesheet" href="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/index.css">
</head>

<body>
	<center>
		<h1>Cakes</h1>
	</center>
	<table>
      <tr>
         <td width="700px"><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/drestin/Sri-Ranganathaswamy-Temple-Srirangam.jpeg" width="150px"></td>
      <td><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/drestin/download%20(1).jpeg" width="150px">
         </td>
         </tr>
         <tr>
      <td><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/drestin/download%20(2).jpeg" width="150px"></td>
      <td><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/drestin/download%20(3).jpeg" width="150px"></td></tr>
      <tr><td><Center><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/drestin/download.jpeg" width="150px"></Center></td></tr></table>
</body>
</html>