<!doctype html>
<html>
<!---->

<head>
	<link rel="stylesheet" href="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/index.css">
</head>

<body>
	<center>
		<h1>Arts</h1>
	</center>
	<table>
      <tr>
         <td width="700px"><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/download%20(1).jpg" width="150px"></td>
      <td><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/download%20(2).jpg" width="150px">
         </td>
         </tr>
         <tr>
      <td><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/download.jpg" width="150px"></td>
      <td><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/images%20(1).jpg" width="150px"></td></tr>
      <tr><td><Center><img src="https://s3.ap.cloud-object-storage.appdomain.cloud/ibm-project-593-1658308768/images.jpg" width="150px"></Center></td></tr></table>
	
	
</body>

</html>